@model WebSiteAdocaoAnimais.Models.AdocaoViewModel

@{
    ViewBag.Title = "Cadastrar Adoção";
}

<center><h2>Cadastrar Adoção</h2></center>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DataAdocao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataAdocao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataAdocao, "", new { @class = "text-danger" })
            </div>
        </div>        

        <div class="form-group">
            @Html.LabelFor(model => model.AdocaoSituacaoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.AdocaoSituacaoId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("AdocaoSituacaoId", ViewBag.Situacao as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdocaoSituacaoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PessoaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PessoaId", ViewBag.Pessoa as SelectList, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.PessoaId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.PessoaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnimalId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AnimalId", ViewBag.Animal as SelectList, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.AnimalId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.AnimalId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsuarioId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(@model => model.UsuarioId, new { disabled = "disabled", Value = @User.Identity.Name })
                @*@Html.EditorFor(model => model.UsuarioId, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.ValidationMessageFor(model => model.UsuarioId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataHoraCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(@model => model.DataHoraCadastro, new { disabled = "disabled", Value = DateTime.Now.ToString("dd/MM/yyyy HH:mm") })
                @*@Html.ValidationMessageFor(model => model.DataHoraCadastro, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSalvar" type="submit" value="Salvar" class="btn btn-success" /> |
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default", @id = "btnVoltar" })

            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
