@model WebSiteAdocaoAnimais.Models.AnimalViewModel

@{
    ViewBag.Title = "Consultar Animal";
}

<center><h2>Consultar Animal</h2></center>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalSexo.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AnimalId }, new { @class = "btn btn-primary", @id = "btnEditar" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default", @id = "btnVoltar" })
    
</p>
